---
import { getCollection } from 'astro:content';
import CallToAction from '../components/CallToAction.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Skills2 from '../components/Skills2.astro';
import Grid from '../components/Grid.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';


// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);
---

<BaseLayout title="À Propos | Xclusivity" description="À Propos de nous">
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Il est temps de vivre de votre contenu"
					tagline="Cela est plus que possible, laissez-nous vous montrer comment."
					align="start"
				>
				</Hero>
				<br>
				<Skills2 />

			</header>
			<body>
				<section class="section with-background bg-variant">
					<header class="section-header stack gap-2 lg:gap-4">
						<h3>FAQ</h3>
						<p>
							Afin d'être le plus transparent possible avec vous, voici les réponses aux questions que nous recevons le plus fréquemment:
						</p>
					</header>
	
					<div class="gallery">
						<Grid variant="medium">
							{
								["Quels sont nos Frais: 15% des revenues des profils que nous gérons, si nous n'obtenons pas de résultats, nous ne sommes pas payés.", 
								"Contrat: Afin de nous permettre d'obtenir les résultats souhaités et éviter de travailler pour rien, nous établissons des contrats de douze (12) mois. ", 
								'Modalité de paiment: 5 jours suivant la fin du mois, les paiements peuvent être effectués par virement bancaire, interac ou cash.', 
								'Production de contenu: Nous pouvons vous aider à produire du contenu si vous êtes dans les environs de montréal, nous sommes situés sur la rive-sud.', 
								'Diversification de revenues: Nous pouvons vous aider à mettre sur pied de nouvelles façons de générer des revenues tels que des abonnements snapchat, telgram ou encore un site web.',
								"Notre but est de créer des partneriats sur le long terme et de s'assurer que vous viviez de votre contenu plus que confortablement, contactez-nous maintenant !"].map((brand) => (
									<li class="mention-card">
										<p>{brand}</p>
									</li>
								))
							}
						</Grid>
					</div>
				</section>

		





		<form name="contactv1" method="POST" data-netlify="true">
			<section class="relative md:-mt-[76px] form1">
				<body class="f1">
				  <h2><strong>DÉBUTEZ !</strong></h2>
				  <p>Remplissez toutes les cases s'il vous plait</p>
				  <form action='https://register-demo.freecodecamp.org'>
					<fieldset>
					  <label>Instagram: <input type="text" name="instagram" required /></label>
					  <label>Onlyfans: <input type="text" name="onlyfans" required /></label>
					  <label>Courriel: <input type="email" name="email" required /></label>
					  <label>Nombre de fans: <input type="number" name="nb-fans" required /></label>
					  <label>Cout pour votre abonnement: <input type="number" name="prix" min="1" required /></label>
					  <label>Parlez-nous de vous ainsi que de vos buts:
						  <textarea name="bio" rows="3" cols="30" placeholder="Avez-vous des specifications precises ?"></textarea>
							  </label>
					</fieldset>
					<fieldset>
					  <!-- <label>Meilleur moment pour vous joindre:
						  <select name="referrer">
							<option value="0">Peu importe</option>
							<option value="1">Matin</option>
							<option value="2">Midi</option>
							<option value="3">Soir</option>
						  </select> -->
					  <!-- <label>Meilleur moment pour vous joindre:</label>
					  <label><input type="checkbox" name="dispos" class="inline" /> Peu importe</label>
					  <label><input type="checkbox" name="dispos" class="inline" /> Matin</label>
					  <label><input type="checkbox" name="dispos" class="inline" /> Midi</label>
					  <label><input type="checkbox" name="dispos" class="inline" /> Soir</label>
					  <label> -->
						  <!-- <label>Consentement</label>
						<input type="checkbox" name="terms" class="inline" required /> J'accepte que Xclusivity me contacte 
						<div><a href="/terms">Termes et conditions</a></div>
							</label> -->
					</fieldset>
					<input type="submit" value="Envoyer !" />
				  </form>
				</body>
		  </section>
		</form>
		

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.f1 {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
	color: #f5f6f7;
  font-family: Tahoma;
	font-size: 16px;
}


h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
	padding: 2rem 0;
}

fieldset:not(:last-of-type) {
  border-bottom: 3px solid #3b3b4f;
}

label {
  display: block;
	margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
  border-color: white;
  background-color: white;
}

input, textarea {
  background-color: #d18df6;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a {
  color: #dfdfe2;
}
h2 {
	text-align: center;
	
}
h3 {
	text-align: center;
}
.imgtest {
	text-align: center;
}

</style>
